body {
  height: 100vh;
  background: rgb(36, 0, 20);
  background: linear-gradient(
    4deg,
    rgba(36, 0, 20, 1) 0%,
    rgba(93, 9, 121, 1) 35%,
    rgba(255, 222, 0, 1) 100%
  );
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
    text-align: center;
    background-color: #dedede;
    padding: 1.5em 0;
}

header h1 {
    color: #212121;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

#navbar ul li{
    display: inline-block;
    background-color: purple;
    padding: 0.5em;
    margin: 0 1em;
    color: white;
    border-radius: 10px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#main-container {
    width: fit-content;
    padding: 3em;
    background-color: #dedede;
    margin-top: 10em;
    border-radius: 20px;
}

#main-container h2 {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 0.5em;
}

#main-container h2 i {
    margin-left: 0.5em;
}

#main-container #tasks {
    padding: 0.5em;
    margin-right: 1em;
    border: none;
    border-radius: 5px;
}

#main-container label button {
    background-color: rgb(155, 19, 19);
    color: #dedede;
    padding: 0.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#saved-task {
    font-size: 0.8em;
    margin-top: 1em;
    background-color: #95a54d;
    border-radius: 20px;
    padding: 1em;
}

#saved-task ul li {
    margin: 1em 0;
}

#saved-task ul li button {
    border: none;
    border-radius: 20px;
    padding: 0.5em;
    color: #dedede;
    background-color: rgb(155, 19, 19);
    margin-left: 0.5em;
    font-size: 0.8em;
}